<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">DOCTOR</h1>
    <p align="center">
        undertaking patient consultations and physical examinations <br>
        organising workloads <br>
        performing surgical procedures <br>
        providing general pre- and post-operative care <br>
        monitoring and administering medication <br>
        assessing and planning treatment requirements <br> 
        liaising daily with staff including other doctors, non-medical management staff and healthcare professionals <br>
        writing reports and maintaining records <br>
        promoting health education <br>
        managing a department <br>
    </p>
</body>
</html>